{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form_static %}
    {{ form_start(form) }}
    <div class="vic-row">
        <div class="vic-col-md-5 vic-col-sm-6">
            {{ form_row(form.listId) }}
            {{ form_row(form.buttonLabel) }}
            {{ form_row(form.icon) }}
            {{ form_row(form.congratulationMessage) }}
        </div>
        <div class="vic-col-md-7 vic-col-sm-6">

            <div class="vic-row">
                <div class="vic-col-sm-6">
                    {{ form_row(form.emailLabel) }}
                </div>
                <div class="vic-col-sm-6">
                    {{ form_row(form.emailPlaceholder) }}
                </div>
                <div class="vic-col-xs-12">
                    {{ form_widget(form.enableFirstName) }}
                </div>
                <div class="vic-col-sm-6">
                    {{ form_row(form.firstnameLabel) }}
                </div>
                <div class="vic-col-sm-6">
                    {{ form_row(form.firstnamePlaceholder) }}
                </div>
                <div class="vic-col-xs-12">
                    {{ form_widget(form.enableLastName) }}
                </div>
                <div class="vic-col-sm-6">
                    {{ form_row(form.lastnameLabel) }}
                </div>
                <div class="vic-col-sm-6">
                    {{ form_row(form.lastnamePlaceholder) }}
                </div>
            </div>
        </div>
    </div>
    <div class="vic-row">
        <div class="vic-col-md-12">
            {{ form_widget(form.asynchronous) }}
            {{form_rest(form)}}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock form_static %}
