{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form_static %}
    <div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane {% if form.mode.vars.data == widget.mode %}vic-active{% endif %}">
        {{ form_start(form) }}
        <div class="vic-row">
            <div class="vic-col-md-6">
                {{ form_row(form.listId) }}
                {{ form_row(form.buttonLabel) }}
                {{ form_row(form.icon) }}
                {{ form_row(form.congratulationMessage) }}
            </div>
            <div class="vic-col-md-6">
                {{ form_widget(form.enableFirstName) }}
                {{ form_widget(form.enableLastName) }}
            </div>
        </div>
        <div class="vic-row">
            <div class="vic-col-md-12">
                {{form_rest(form)}}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock form_static %}
