{% extends 'VictoireWidgetMailchimpNewsletterBundle::show.html.twig' %}

{% block form_class %}form-horizontal{% endblock form_class %}
{% block labels_class %}{{ parent() }} col-sm-2{% endblock labels_class %}
{% block email_field %}
    <div class="col-sm-10">
        {{ parent() }}
    </div>
{% endblock email_field %}
{% block firstname_field %}
    <div class="col-sm-10">
        {{ parent() }}
    </div>
{% endblock firstname_field %}
{% block lastname_field %}
    <div class="col-sm-10">
        {{ parent() }}
    </div>
{% endblock lastname_field %}
{% block button %}
    <div class="pull-right">
        {{ parent() }}
    </div>
{% endblock button %}