{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block labels_class %}control-label{% endblock labels_class %}
{% block text_inputs_class %}form-control{% endblock text_inputs_class %}
{% block content %}

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" style="overflow: hidden">
        {% block form %}
            <form action="//appventus.us5.list-manage.com/subscribe/post?u=UID&amp;id={{ listId }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate {% block form_class %}form-horizontal{% endblock form_class %}" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    {% if enableFirstName %}
                        <div class="mc-field-group form-group">
                            <label for="mce-FNAME" class="{{ block('extra_label_class') }}">{{ 'victoire_mailchimp_newsletter.show.signupForm.firstName.label'|trans({}, 'victoire') }} </label>
                            {% block firstname_field %}
                                <input type="text" value="" name="FNAME" class="{{ block('text_inputs_class') }}" id="mce-FNAME">
                            {% endblock firstname_field %}
                        </div>
                    {% endif %}
                    {% if enableLastName %}
                        <div class="mc-field-group form-group">
                            <label for="mce-LNAME" class="{{ block('extra_label_class') }}">{{ 'victoire_mailchimp_newsletter.show.signupForm.lastName.label'|trans({}, 'victoire') }} </label>
                            {% block lastname_field %}
                                <input type="text" value="" name="LNAME" class="{{ block('text_inputs_class') }}" id="mce-LNAME">
                            {% endblock lastname_field %}
                        </div>
                    {% endif %}
                    {% block email_group_field %}
                    <div class="mc-field-group form-group">
                        <label for="mce-EMAIL" class="{{ block('labels_class') }}">{{ 'victoire_mailchimp_newsletter.show.signupForm.email.label'|trans({}, 'victoire') }}</label>
                        {% block email_field %}
                            <input type="email" value="" name="EMAIL" class="required email {{ block('text_inputs_class') }}" id="mce-EMAIL">
                        {% endblock email_field %}
                    </div>
                    {% endblock email_group_field %}

                    {% block button %}
                    <button type="submit" class="btn btn-primary" id="mc-embedded-subscribe">
                        {% if icon != "" %}<i class="fa {{ icon }}"></i> {% endif %}
                        {{ buttonLabel }}
                    </button>
                    {% endblock button %}
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_UID_{{ listId }}" tabindex="-1" value=""></div>
                </div>
            </form>
        {% endblock form %}
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
        (function($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0]='EMAIL';
            ftypes[0]='email';
            {% if enableFirstName %}
            fnames[1]='FNAME';
            ftypes[1]='text';
            {% endif %}
            {% if enableLastName %}
            fnames[2]='LNAME';
            ftypes[2]='text';
            {% endif %}
            {% if app.request.locale != 'en'  %}{# default language is en #}
            /*
             * Translated default messages for the $ validation plugin.
             * Locale: {{ app.request.locale }}
             */
            {% include "VictoireWidgetMailchimpNewsletterBundle:localization:messages_" ~ app.request.locale ~ ".js.twig" %}
            {% endif %}

        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
<!--End mc_embed_signup-->



{% endblock content %}
